In [1]:
import numpy as np
import pandas as pd
import datetime
import requests
import matplotlib.pyplot as plt

api_key = pd.read_json('fmp_api_key.json').iloc[0].to_list()[0]
headers = {'Content-Type': 'application/json'}

In [2]:
# Sectors Performance
def get_sectors_performance():
    
    response = requests.get("https://financialmodelingprep.com/api/v3/stock/sectors-performance/" +
                       "?apikey=" + api_key, headers=headers)
    df = pd.json_normalize(response.json()['sectorPerformance'])
    
    return df

# Historical Sectors Performance
def get_hist_sectors_performance(limit):
    
    response = requests.get("https://financialmodelingprep.com/api/v3/historical-sectors-performance" + 
                            "?limit=" + str(limit) + "&apikey=" + api_key )   
    df = pd.json_normalize(response.json()) 
    df['date'] = pd.to_datetime(df['date'])
    df.set_index(['date'], inplace=True)
        
    return df

In [3]:
def get_daily_performance():
    """ Return daily sector performance """
    df = get_sectors_performance()
    df['changesPercentage'] = df['changesPercentage'].str.replace('%', '')
    df['changesPercentage'] = pd.to_numeric(df['changesPercentage'])
    df = df.sort_values(by='changesPercentage', ascending=False,  ignore_index=True)
    
    return df

def get_avg_performance(num_days):
    """ 
    Input: number of days (type: integer)
    Output: average sectors performance
    """
    df = get_hist_sectors_performance(num_days).mean().to_frame()
    df.reset_index(inplace=True)
    df.columns = ['sector', 'avg_performance']
    df['sector'] = df['sector'].apply(lambda x:x[:-17])
    df = df.sort_values(by='avg_performance', ascending=False).reset_index(drop=True)
    
    return df

In [4]:
df_daily = get_daily_performance()
df_daily.head(10)

                             sector  changesPercentage
0     Diversified Consumer Services             4.2421
1                            Marine             3.6821
2                    Communications             3.3567
3               Aerospace & Defense             3.2278
4  Trading Companies & Distributors             3.1276
5                   Metals & Mining             3.0976
6     Transportation Infrastructure             3.0895
7                           Banking             2.9103
8                       Health Care             2.8483
9     Hotels, Restaurants & Leisure             2.7560

In [5]:
df_20 = get_avg_performance(20)
df_20

                   sector  avg_performance
0          basicMaterials         0.459910
1               financial         0.458095
2       consumerDefensive         0.369475
3              realEstate         0.364505
4       financialServices         0.199140
5               utilities         0.151255
6              technology         0.043925
7   communicationServices        -0.007900
8        consumerCyclical        -0.018115
9             industrials        -0.041400
10               services        -0.147075
11          conglomerates        -0.296550
12                 energy        -0.297620
13        industrialGoods        -0.502600
14             healthcare        -0.519265

In [6]:
df_50 = get_avg_performance(50)
df_50

                   sector  avg_performance
0               financial         0.675648
1              realEstate         0.393496
2       consumerDefensive         0.375316
3          basicMaterials         0.371818
4       financialServices         0.152852
5   communicationServices         0.142588
6                  energy         0.071006
7        consumerCyclical         0.050382
8               utilities        -0.021270
9              technology        -0.033560
10            industrials        -0.055776
11               services        -0.075902
12          conglomerates        -0.113629
13             healthcare        -0.459120
14        industrialGoods        -0.502600

In [7]:
df_100 = get_avg_performance(120)
df_100

                   sector  avg_performance
0               financial         0.422846
1             industrials         0.289533
2          basicMaterials         0.202762
3   communicationServices         0.171850
4       consumerDefensive         0.170885
5       financialServices         0.055115
6        consumerCyclical         0.027931
7              realEstate        -0.021238
8              healthcare        -0.230708
9         industrialGoods        -0.393363
10              utilities        -0.452490
11             technology        -0.649374
12               services        -0.948460
13          conglomerates        -0.949877
14                 energy     -4042.297196

In [8]:
df_200 = get_avg_performance(200)
df_200

                   sector  avg_performance
0             industrials         0.482371
1               financial         0.352332
2          basicMaterials         0.244711
3       consumerDefensive         0.244074
4   communicationServices         0.136442
5              realEstate         0.090730
6       financialServices         0.074219
7        consumerCyclical         0.020559
8              healthcare        -0.255244
9               utilities        -0.350525
10        industrialGoods        -0.370058
11          conglomerates        -0.434506
12             technology        -0.446632
13               services        -0.827625
14                 energy     -2426.445638